@charset 'utf-8';

body {
   width: 100%;
   height: 100%;
   font-family: -apple-system, BlinkMacSystemFont, Roboto,
      "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic,
      "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

#wrapper {
   width: 100%;
   height: 100%;
}

header {
   display: flex;
   position: relative;
   top: 28px;
}

#header_search {
   display: flex;
   position: relative;
   margin-left: 40px;
   align-items: center;
}

#header_search img {
   position: absolute;
   width: 13px;
   height: 13px;
   margin-left: 7px;
   pointer-events: none;
}

#header_search input[type="search"] {
   font-size: 13px;
   width: 226px;
   padding: 5px 16px 5px 25px;
   cursor: text;
   border-radius: 50px;
   transition: 0.3s;
}

nav {
   display: flex;
   position: relative;
   height: 30px;
   width: 94px;
   margin-right: 52px;
   margin-left: auto;
   justify-content: space-between;
   align-items: center;
   transition: 0.3s;
}

#mode,
#mode input,
#mode img {
   height: 26px;
   width: 26px;
}

#mode{
   position: relative;
}

#mode form {
   position: absolute;
}

#mode img {
   position: absolute;
   pointer-events: none;
   transition: 0.3s;
}

#mode .active {
   opacity: 0;
}

#mode:hover .active {
   opacity: 1;
}

#github {
   font-size: 17px;
   position: flex;
   transition: 0.3s;
}

#mode:focus,
#github:focus {
   outline: none;
}

#wrapper form[action="/results"] {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
   -webkit-transform: translateY(-50%) translateX(-50%);
}

#search {
   display: flex;
   position: relative;
   align-items: center;
}

#search img {
   position: absolute;
   margin-left: 17px;
   pointer-events: none;
}

#search input[type="search"] {
   font-size: 17px;
   width: 520px;
   padding: 18px 44px;
   cursor: text;
   border-radius: 50px;
   transition: 0.3s;
}

ol {
   padding: 54px 0 40px 0;
}

#dashboard {
   display: block;
   width: 562px;
   margin: 0 auto 24px auto;
   padding: 18px;
   border-radius: 16px;
   transition: 0.3s;
}

#dashboard h2 {
   font-size: 17px;
}

#links, #snippet {
   font-size: 13px;
}

#links {
   color: #7192b9;
}


/* dark mode */

#theme1 body {
   background-color: #2E3440;
}

#theme1 #wrapper{
   background: #2E3440;
   width: 100%;
   height: 100%;
}

#theme1 #github {
   color: #505a6e;
}

#theme1 #github:hover {
   color: #D8DEE9;
   border-bottom: 1px solid #D8DEE9;
}

#theme1 input[type="search"] {
   color: #ECEFF4;
   caret-color: #ECEFF4;
   background: #3B4252;
   box-shadow: rgba(15, 17, 21, 0.2) 0 3px 6px 0;
}

#theme1 input[type="search"]:hover,
#theme1 input[type="search"]:focus {
   box-shadow: rgba(15, 17, 21, 0.3) 0 6px 12px 0;
}

#theme1 input[type="search"]::placeholder {
   color: #626d83;
}

#theme1 input[type="search"]::-ms-input-placeholde {
   color: #626d83;
}

#theme1 #header_search input[type="search"] {
   box-shadow: rgba(15, 17, 21, 0.137) 0 1px 3px 0;
}

#theme1 #header_search input[type="search"]:hover,
#theme1 #header_search input[type="search"]:focus {
   box-shadow: rgba(15, 17, 21, 0.137) 0 2px 6px 0;
}

#theme1 #dashboard:hover,
#theme1 #dashboard:focus {
   background: #3B4252;
   outline: none;
}

#theme1 #dashboard h2 {
   color: #ECEFF4;
}

#theme1 #snippet {
   color: #c1c8d6;
}


/* light mode */

#theme0 body {
   background-color: #E5E9F0;
}

#theme0 {
   background: #E5E9F0;
   width: 100%;
   height: 100%;
}

#theme0 #github {
   color: #c7cdda;
}

#theme0 #github:hover {
   color: #3B4252;
   border-bottom: 1px solid #3B4252;
}

#theme0 input[type="search"] {
   color: #2E3440;
   caret-color: #2E3440;
   background: #ECEFF4;
   box-shadow: rgba(156, 166, 187, 0.35) 0 3px 6px 0;
}

#theme0 input[type="search"]:hover,
#theme0 input[type="search"]:focus {
   box-shadow: rgba(156, 166, 187, 0.46) 0 6px 12px 0;
}

#theme0 input[type="search"]::placeholder {
   color: #9ca3b3;
}

#theme0 input[type="search"]::-ms-input-placeholde {
   color: #9ca3b3;
}

#theme0 #header_search input[type="search"] {
   box-shadow:  rgba(156, 166, 187, 0.226) 0 1px 3px 0;
}

#theme0 #header_search input[type="search"]:hover,
#theme0 #header_search input[type="search"]:focus {
   box-shadow:  rgba(156, 166, 187, 0.226) 0 2px 6px 0;
}

#theme0 #dashboard:hover,
#theme0 #dashboard:focus {
   background: #D8DEE9;
   outline: none;
}

#theme0 #dashboard h2 {
   color: #2E3440;
}

#theme0 #snippet {
   color: #4C566A;
}


@media screen and (max-width: 736px) {
   #search input[type="search"] {
      width: 300px;
   }

   #dashboard {
      width: 380px;
   }
}
