@charset 'utf-8';

body {
   width: 100%;
   font-family: -apple-system, BlinkMacSystemFont, Roboto,
      "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic,
      "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

header {
   display: flex;
   position: relative;
   top: 1.4em;
   margin-left: auto;
   margin-right: 2.6em;
   height: 100px;
   width: 154px;
   justify-content: space-between;
   align-items: center;
}

#mode, #github {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
}

#mode input, #github input {
   height: 62px;
   width: 62px;
   border-radius: 50%;
}

#mode img, #github img {
   position: absolute;
   pointer-events: none;
}

form[action="/results"] {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
   -webkit-transform: translateY(-50%) translateX(-50%);
}

#search {
   display: flex;
   position: relative;
   align-items: center;
}

#search img{
   position: absolute;
   pointer-events: none;
   margin-left: 1.4em;
}

input[type="search"] {
   font-size: 1em;
   cursor: text;
   padding: 1.4em 3.2em;
   width: 26em;
   border-radius: 2em;
}

@media screen and (max-width: 736px) {
   input[type="search"] {
      width: 16em;
   }
}

/* Light mode */
#light {
   background: #e3edf7;
   width: 100%;
   height: 100%;
}

#light #mode input,
#light #github input {
   background: linear-gradient(to bottom right, #f2f7fa, #e6f4fd);
   box-shadow: 8px 8px 18px #bccad8,
      -8px -8px 18px #ffffff;
}

#light input[type="search"] {
   color: #303336;
   caret-color: #b3bfd2;
   box-shadow: inset 3px 3px 16px #becfdf,
      inset -3px -3px 16px #feffff;
}

#light input[type="search"]::placeholder {
   color: #b3bfd2;
}

#light input[type="search"]::-ms-input-placeholde {
   color: #b3bfd2;
}

/* Dark mode */
#dark {
   background: #303336;
   width: 100%;
   height: 100%;
}

#dark #mode input,
#dark #github input {
   background: linear-gradient(to bottom right, #414549, #26282b);
   box-shadow: 8px 8px 18px #222427,
      -8px -8px 18px #46484d;
}

#dark input[type="search"] {
   color: #e3edf7;
   caret-color: #4d5257;
   box-shadow: inset 3px 3px 13px #232729,
      inset -3px -3px 13px #3e4044;
}

#dark input[type="search"]::placeholder {
   color: #4d5257;
}

#dark input[type="search"]::-ms-input-placeholde {
   color: #4d5257;
}
