{% haml %}
-extends "base.haml"
-block body
  %body
    #wrapper
      %header
        #header_search << &nbsp;
        -include "nav.haml"
      %form action="/results" method="POST"
        #search
          -if mode
            %img src="/static/img/dark_search.png"
          -else
            %img src="/static/img/light_search.png"
          %input type="search" name="keyword" spellcheck="false" \
                 placeholder="Search for ..." maxlength="2048" \
                 autocomplete="off" tabindex="1" autofocus
{% endhaml %}
